    .node-sample {
      background-color: #FFC20B;
      height: 20px;
    }

    .node-sample-container {
      width: 90px;
      background-color: #55AAFF;
    }

    .node-wrapper {
      background-color: #FFAA55;
      height: 100px;
      width: 80px;
    }

    .node-disabled {
      background-color: #8F9594
    }

    body {
      background-color: rgb(122, 188, 252);
      font-family: Raleway;
    }

    #node-canvas, #node-tray {
      border:1px solid black;
      background-color: rgba(0, 0, 128, 0.3);
      height: 80vh;
    }
    .node-canvas-hover {
      background-color: #9ED3E8;
    }

    .sn-node-title {
      font-family: Raleway;
      font-size: 1rem;
    }

    .accordion-category {
      border: 1px solid lightgrey;
      color: #55AAFF;
    }

    #visual {
     }

    #upload_area {
    }

    .input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; 
    border-radius: 3px;
    }

    h4, .beat_label {
      font-family: Raleway;
      text-align: center;
    }

    .canvas-title {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.15;
    margin: auto;
    height: 100%;
    color: #FFFFFF;
    }

    h1 {
     font-family: Raleway;
    font-size: 15vmin;
}