    .node-sample {
      background-color: #899;
      height: 50px;
      width: 80px;
    }

    .node-wrapper {
      background-color: #989;
      height: 50px;
      width: 80px;
    }
    
    #node-canvas, #node-tray {
      border:1px solid black;
      height: 60vh;
    }
    .node-canvas-hover {
      background-color: #898;
    }

    h2 {
      font-family: Raleway;
      font-size: 1rem;
    }

    select {
      font-size: 1rem;
    }